Repository xaolanx/hjem-rum: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, mdformat

nix-fmt:
  name: format nix files
  language: system
  entry: nix fmt

mdformat:
  name: format markdown files
  language: system
  entry: mdformat

meta: autoinstall pre-commit
  flake.nix
Due: nix-fmt

helix: fmt
  modules/collection/programs/helix.nix
Due: nix-fmt

programs/starship: prefix starship under `rum`
  modules/collection/programs/starship.nix
Due: nix-fmt

programs/zsh: fix wrong references to starship
  modules/collection/programs/zsh.nix
Due: nix-fmt

flake: remove hjem input
  flake.lock
  flake.nix
Due: nix-fmt

add: warnings for nixos module deprecation
  README.md
  flake.nix
  modules/hjem.nix
  modules/nixos.nix
Due: nix-fmt, mdformat

module: move from nixosModule to hjemModule
  README.md
  flake.nix
  modules/hjem.nix
  modules/nixos.nix
Due: nix-fmt, mdformat

treewide: migrate extended lib to `rumLib`
  flake.nix
  modules/collection/misc/gtk.nix
  modules/collection/programs/hyprland.nix
  modules/collection/programs/hyprlock.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/tofi.nix
  modules/hjem.nix
  modules/lib/default.nix
Due: nix-fmt

nixos: remove osconfig
  modules/nixos.nix
Due: nix-fmt

readme: fix deprecation warning issue link
  README.md
Due: mdformat

chore: add formatter to dev shell
  flake.nix
Due: nix-fmt

meta: add commitizen
  .cz.toml
  .pre-commit-config.yaml
  flake.nix
Due: nix-fmt

fish: init module (#40)
  modules/collection/programs/fish.nix
Due: nix-fmt

meta: update commitizen to allow for choosing scope interactively
  .cz.toml
Due: none

docs/CONTRIBUTING: explain commit format
  README.md
  docs/CONTRIBUTING.md
Due: mdformat

Update README.md
  README.md
Due: mdformat

programs/fish: add description to plugins option
  modules/collection/programs/fish.nix
Due: nix-fmt

docs/README: Add a warning about Hjem being unfinished.
  README.md
Due: mdformat

programs: zsh.integrations.starship.enable -> starship.integrations.zsh.enable
  modules/collection/programs/starship.nix
  modules/collection/programs/zsh.nix
Due: nix-fmt

programs/hypridle: init module
  modules/collection/programs/hypridle.nix
Due: nix-fmt

programs/bottom: init module
  modules/collection/programs/bottom.nix
Due: nix-fmt

programs/gammastep: init module
  modules/collection/programs/gammastep.nix
Due: nix-fmt

programs: Add extraDescription for useful overrides
  modules/collection/programs/ghostty.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/obs-studio.nix
  modules/collection/programs/spotify-player.nix
Due: nix-fmt

meta/cz: add commit body; clarify questions
  .cz.toml
Due: none

docs/CONTRIBUTING: update to reflect our new commit style
  docs/CONTRIBUTING.md
Due: mdformat

misc/environment: Add a warning for when sessionVariables exist but are not loaded by Hjem Rum
  README.md
  modules/collection/environment/warning.nix
Due: nix-fmt, mdformat

flake: add treefmt-nix
  flake.lock
  flake.nix
Due: nix-fmt

flake: switch to deno for markdown formatting
  .pre-commit-config.yaml
  flake.nix
Due: nix-fmt

treewide: run nix fmt
  README.md
  docs/CONTRIBUTING.md
Due: mdformat

docs/CONTRIBUTING: remove TOC
  docs/CONTRIBUTING.md
Due: mdformat

docs: convert links to reference links
  README.md
  docs/CONTRIBUTING.md
Due: mdformat

meta: update pre-commit to rely on treefmt
  .pre-commit-config.yaml
Due: none

meta/testing: implement first round of review comments
  README.md
  docs/TESTING.md
  flake.nix
  modules/tests/default.nix
  modules/tests/programs/ncmpcpp/ncmpcpp.nix
Due: nix-fmt, mdformat

tests: init test system
  docs/TESTING.md
  modules/tests/default.nix
  modules/tests/programs/ncmpcpp/expected_bindings
  modules/tests/programs/ncmpcpp/expected_config
  modules/tests/programs/ncmpcpp/ncmpcpp.nix
Due: nix-fmt, mdformat

meta/testing: handle multiple test files
  .github/workflows/integration-tests.yml
  .gitignore
  docs/TESTING.md
  flake.nix
  modules/tests/default.nix
  modules/tests/programs/fish.nix
  modules/tests/programs/foot.nix
  modules/tests/programs/ncmpcpp/ncmpcpp.nix
Due: nix-fmt, mdformat

docs/testing: address #24 merge comments
  docs/TESTING.md
Due: mdformat

ncmpcpp: fix bindings generator generating broken config
  modules/lib/generators/ncmpcpp.nix
Due: nix-fmt

tests: fix rebase conflicts
  flake.lock
  flake.nix
  modules/tests/default.nix
Due: nix-fmt

docs: format testing doc and link it in the contributing guide
  docs/CONTRIBUTING.md
  docs/TESTING.md
Due: mdformat

meta: run formatter
  .github/workflows/integration-tests.yml
  docs/CONTRIBUTING.md
  docs/TESTING.md
Due: mdformat

Path conditions:
  nix-fmt: any of: .+\.nix$
  mdformat: any of: .+\.md$
