Repository xaolanx/hjem-rum: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: nix-fmt
        name: format nix files
        language: system
        entry: nix fmt
        files: .+\.nix$

      # mdformat automatically uses any plugin that is installed
      - id: mdformat
        name: format markdown files
        language: system
        entry: mdformat
        files: .+\.md$

meta/ci: only one concurrent CI run for a branch
  .github/workflows/integration-tests.yml
Due: none

meta/ci: move script to separate file
  .github/workflows/create-test-plan.sh
  .github/workflows/integration-tests.yml
Due: none

meta/testing: implement second round of review comments
  docs/TESTING.md
  flake.lock
  flake.nix
Due: nix-fmt, mdformat

docs/testing: move reference links to top
  docs/TESTING.md
Due: mdformat

meta/ci: Add a ci step that runs module tests
  .github/workflows/integration-tests.yml
  modules/tests/programs/fish.nix
  modules/tests/programs/foot.nix
  modules/tests/programs/ncmpcpp/ncmpcpp.nix
Due: nix-fmt

meta/testing: handle multiple test files
  docs/TESTING.md
Due: mdformat

tests: fix rebase conflicts
  flake.lock
Due: none

meta/ci: make script executable
  .github/workflows/create-test-plan.sh
Due: none

docs/testing: update with naming scheme
  docs/TESTING.md
Due: mdformat

meta: add shfmt to treefmt
  .envrc
  .github/workflows/create-test-plan.sh
  flake.nix
Due: nix-fmt

meta/ci: add check phase
  .github/workflows/integration-tests.yml
Due: none

types: update hyprType to match upstream Hyprland module
  modules/lib/types/hyprType.nix
Due: nix-fmt

docs: setup ndg html generation
  docs/package.nix
Due: nix-fmt

collection: remove dependencies to `config` in options
  modules/collection/misc/gtk.nix
  modules/collection/programs/alacritty.nix
  modules/collection/programs/foot.nix
  modules/collection/programs/fuzzel.nix
  modules/collection/programs/ghostty.nix
  modules/collection/programs/helix.nix
  modules/collection/programs/keepassxc.nix
  modules/collection/programs/lsd.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/spotify-player.nix
  modules/collection/programs/starship.nix
  modules/collection/programs/tofi.nix
  modules/collection/programs/vscode.nix
Due: nix-fmt

flake: add ndg v2
  flake.lock
  flake.nix
Due: nix-fmt

tests/ghostty: init test
  modules/tests/programs/ghostty.nix
Due: nix-fmt

programs/beets: init module (#58)
  modules/collection/programs/beets.nix
  modules/tests/programs/beets/bad-settings.nix
  modules/tests/programs/beets/beets.nix
Due: nix-fmt

docs/CONTRIBUTING: add notice to not reference `config` in options
  docs/CONTRIBUTING.md
Due: mdformat

misc/gtk: rum.gtk -> rum.misc.gtk
  modules/collection/misc/gtk.nix
Due: nix-fmt

collection: use literalExpression when necessary
  modules/collection/misc/gtk.nix
  modules/collection/programs/fish.nix
  modules/collection/programs/ghostty.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/obs-studio.nix
  modules/collection/programs/spotify-player.nix
Due: nix-fmt

flake: bump inputs
  flake.lock
Due: none

treewide: run `nix fmt`
  modules/lib/generators/ncmpcpp.nix
Due: nix-fmt

programs/ncmpcpp: reference manpage
  modules/collection/programs/ncmpcpp.nix
Due: nix-fmt

workflows: add manual deployment on pages
  .github/workflows/manual.yml
Due: none

programs/fish: fix codeblock indentation
  modules/collection/programs/fish.nix
Due: nix-fmt

programs/zsh: fix typos; remove dead code
  modules/collection/programs/zsh.nix
Due: nix-fmt

docs: add manpage-urls
  docs/manpage-urls.json
Due: none

modules: use reference links in options descriptions
  modules/collection/misc/gtk.nix
  modules/collection/programs/alacritty.nix
  modules/collection/programs/bottom.nix
  modules/collection/programs/fish.nix
  modules/collection/programs/foot.nix
  modules/collection/programs/gammastep.nix
  modules/collection/programs/ghostty.nix
  modules/collection/programs/helix.nix
  modules/collection/programs/hypridle.nix
  modules/collection/programs/hyprland.nix
  modules/collection/programs/hyprlock.nix
  modules/collection/programs/keepassxc.nix
  modules/collection/programs/lsd.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/spotify-player.nix
  modules/collection/programs/starship.nix
  modules/collection/programs/tofi.nix
  modules/collection/programs/vscode.nix
  modules/collection/programs/zsh.nix
Due: nix-fmt

programs: add missing hyperlinks
  modules/collection/misc/gtk.nix
  modules/collection/programs/bottom.nix
  modules/collection/programs/zsh.nix
Due: nix-fmt

modules: update home directory prefix in modules description
  docs/CONTRIBUTING.md
  modules/collection/misc/gtk.nix
  modules/collection/programs/alacritty.nix
  modules/collection/programs/foot.nix
  modules/collection/programs/fuzzel.nix
  modules/collection/programs/ghostty.nix
  modules/collection/programs/git.nix
  modules/collection/programs/helix.nix
  modules/collection/programs/hyprlock.nix
  modules/collection/programs/keepassxc.nix
  modules/collection/programs/lsd.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/spotify-player.nix
  modules/collection/programs/starship.nix
  modules/collection/programs/tofi.nix
  modules/collection/programs/vscode.nix
Due: nix-fmt, mdformat

modules: render links in options description with markdown
  modules/collection/misc/gtk.nix
  modules/collection/programs/alacritty.nix
  modules/collection/programs/foot.nix
  modules/collection/programs/fuzzel.nix
  modules/collection/programs/ghostty.nix
  modules/collection/programs/helix.nix
  modules/collection/programs/hyprland.nix
  modules/collection/programs/keepassxc.nix
  modules/collection/programs/lsd.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/spotify-player.nix
  modules/collection/programs/starship.nix
  modules/collection/programs/tofi.nix
  modules/collection/programs/vscode.nix
Due: nix-fmt

deploy: cc2cc3c83f5bb1058ada5f9c4e031f9aa9402017
  .nojekyll
  assets/search.js
  assets/style.css
  index.html
  options.html
Due: none

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

nixos: remove nixos module
  README.md
  flake.nix
  modules/nixos.nix
Due: nix-fmt, mdformat

deploy: 5d326a5ad72ffb7a91f6ee8c2c1806e707440fe9
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

misc/gtk: fix typo
  modules/collection/misc/gtk.nix
Due: nix-fmt
