Repository xaolanx/hjem-rum: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: nix-fmt
        name: format nix files
        language: system
        entry: nix fmt
        files: .+\.nix$

      # mdformat automatically uses any plugin that is installed
      - id: mdformat
        name: format markdown files
        language: system
        entry: mdformat
        files: .+\.md$

deploy: 273efd70280eb2d4896e2d29afb659056badf9d1
  assets/search-data.json
  index.html
  options.html
Due: none

deploy: 5dcd3ecfbf85afa4196bea58789026798b659d9a
  assets/search-data.json
  index.html
  options.html
Due: none

programs/starship: refactor & add fish integration
  modules/collection/programs/starship.nix
Due: nix-fmt

meta/ci: trigger integration tests on more important file changes
  .github/workflows/create-test-plan.sh
  .github/workflows/integration-tests.yml
Due: none

docs: add REVIEWING.md
  docs/CONTRIBUTING.md
  docs/REVIEWING.md
Due: mdformat

programs/fish: refactor
  modules/collection/programs/fish.nix
Due: nix-fmt

meta/pr_template: format
  .github/pull_request_template.md
Due: mdformat

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

deploy: 29519740e0d97242c66bb99e91fede7724e0c5ec
  CNAME
  assets/search-data.json
  index.html
  options.html
Due: none

modules: move hyprland to desktops namespace
  .cz.toml
  README.md
  modules/collection/desktops/hyprland.nix
  modules/collection/environment/warning.nix
Due: nix-fmt, mdformat

deploy: 0f062c11e8ac3afc63c0d24c3563fdade8cbca6a
  assets/search-data.json
  index.html
  options.html
Due: none

programs/starship: fix fish integration
  modules/collection/programs/starship.nix
Due: nix-fmt

programs/fish: remove unecessary .fish in the end
  modules/collection/programs/fish.nix
Due: nix-fmt

deploy: 41704c982abc9a02fa63ae78996b0f82039ca7ad
  assets/search-data.json
  index.html
  options.html
Due: none

programs/fish: fix the suffix of fish functions, again
  modules/collection/programs/fish.nix
Due: nix-fmt

programs/git: add ignore and attributes options
  modules/collection/programs/git.nix
Due: nix-fmt

programs/git: add difftastic integration
  modules/collection/programs/git.nix
  modules/tests/programs/git/config.ini
  modules/tests/programs/git/git.nix
Due: nix-fmt

programs/git: add tests
  modules/tests/programs/git/attributes
  modules/tests/programs/git/config.ini
  modules/tests/programs/git/git.nix
  modules/tests/programs/git/ignore
Due: nix-fmt

programs/git: remove destination option
  modules/collection/programs/git.nix
Due: nix-fmt

deploy: 3c4df802cc07eec156e53b285859458cf3cb63d4
  assets/search-data.json
  index.html
  options.html
Due: none

programs/zed: add tests
  modules/tests/programs/zed/javascript.json
  modules/tests/programs/zed/keymap.json
  modules/tests/programs/zed/my-cool-theme.json
  modules/tests/programs/zed/settings.json
  modules/tests/programs/zed/tasks.json
  modules/tests/programs/zed/zed.nix
Due: nix-fmt

programs/zed: init module
  modules/collection/programs/zed.nix
Due: nix-fmt

programs/zoxide: add nushell integration
  modules/collection/programs/zoxide.nix
  modules/tests/programs/zoxide.nix
Due: nix-fmt

programs/nix-your-shell: add module, integrations and tests
  modules/collection/programs/nix-your-shell.nix
  modules/tests/programs/nix-your-shell.nix
Due: nix-fmt

deploy: 0f0673fe6353ff0d3cd5ff9d038b21bd706fdd5e
  assets/search-data.json
  index.html
  options.html
Due: none

programs/direnv: add nushell integration
  modules/collection/programs/direnv.nix
  modules/tests/programs/direnv/direnv.nix
Due: nix-fmt

misc/gtk: move gtkrc-2.0
  modules/collection/misc/gtk.nix
Due: nix-fmt

flake: init hjemModules.bare, init modulesPath
  README.md
  docs/TESTING.md
  flake.nix
  modules/hjem.nix
  modules/tests/default.nix
  modules/tests/programs/beets/bad-settings.nix
  modules/tests/programs/beets/beets.nix
  modules/tests/programs/fish.nix
  modules/tests/programs/foot.nix
  modules/tests/programs/ncmpcpp/ncmpcpp.nix
Due: nix-fmt, mdformat

tests: refactor remaining tests for optional imports system
  modules/tests/programs/direnv/direnv.nix
  modules/tests/programs/fish.nix
  modules/tests/programs/flameshot/flameshot.nix
  modules/tests/programs/fuzzel.nix
  modules/tests/programs/fzf.nix
  modules/tests/programs/ghostty.nix
  modules/tests/programs/git/git.nix
  modules/tests/programs/kitty/kitty.nix
  modules/tests/programs/nushell.nix
  modules/tests/programs/tealdeer/tealdeer.nix
  modules/tests/programs/zoxide.nix
Due: nix-fmt

programs: use or to render obsolete dependencies
  modules/collection/environment/warning.nix
  modules/collection/programs/direnv.nix
  modules/collection/programs/starship.nix
  modules/collection/programs/zsh.nix
Due: nix-fmt

docs/README: add info on optional imports
  README.md
Due: mdformat

WIP
  modules/collection/programs/direnv.nix
  modules/collection/programs/starship.nix
Due: nix-fmt

lib/toHyprconf: add source to important prefixes
  modules/collection/desktops/hyprland.nix
  modules/lib/generators/hypr.nix
Due: nix-fmt
