Repository xaolanx/hjem-rum: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, mdformat

nix-fmt:
  name: format nix files
  language: system
  entry: nix fmt

mdformat:
  name: format markdown files
  language: system
  entry: mdformat

meta/ci: avoid building documentation on pull requests
  .github/workflows/manual.yml
Due: none

programs/tealdeer: init module
  modules/collection/programs/tealdeer.nix
Due: nix-fmt

programs/tealdeer: add tests
  modules/tests/programs/tealdeer/expected_config
  modules/tests/programs/tealdeer/tealdeer.nix
Due: nix-fmt

programs/fuzzel: write test file
  modules/tests/programs/fuzzel.nix
Due: nix-fmt

Create CNAME
  CNAME
Due: none

deploy: 17468b08d5d3524e2e2421453c9e330e802e0bb6
  CNAME
  index.html
  options.html
Due: none

programs/zoxide: add tests
  modules/tests/programs/zoxide.nix
Due: nix-fmt

programs/zoxide: init module
  modules/collection/programs/zoxide.nix
Due: nix-fmt

docs: fix typos
  docs/CONTRIBUTING.md
  docs/TESTING.md
Due: mdformat

deploy: 956481f458e412320d1d6edb6f4952e92756b4d1
  CNAME
Due: none

programs/flameshot: init module
  modules/collection/programs/flameshot.nix
Due: nix-fmt

programs/flameshot: add tests
  modules/tests/programs/flameshot/expected_config
  modules/tests/programs/flameshot/flameshot.nix
Due: nix-fmt

deploy: 53e18bd453b93415f92d69c19756dae4080f1c36
  CNAME
  index.html
  options.html
Due: none

meta: Create Pull Request Template
  .github/pull_request_template.md
Due: mdformat

meta: Add Comments to PR template
  .github/pull_request_template.md
Due: mdformat

meta: Correct wording and grammar in Pull Request Template
  .github/pull_request_template.md
Due: mdformat

programs/fzf: add tests
  modules/tests/programs/fzf.nix
Due: nix-fmt

programs/fzf: init module
  modules/collection/programs/fzf.nix
Due: nix-fmt

deploy: c9ff49b1ff033f9a1998b25aa44d318d4c4e2024
  index.html
  options.html
Due: none

meta/pr_template: remove unnecessary comment
  .github/pull_request_template.md
Due: mdformat

docs: add a mention of the documentation page
  README.md
Due: mdformat

flake/ndg: bump ndg version
  flake.lock
  flake.nix
Due: nix-fmt

deploy: 8e71d942411be023d01cedd45664ad917645542f
  assets/search-data.json
  index.html
  options.html
  search.html
Due: none

programs/fzf: mkAfter zsh.initConfig
  modules/collection/programs/fzf.nix
Due: nix-fmt

programs/kitty: add tests
  modules/tests/programs/kitty/expected_config
  modules/tests/programs/kitty/kitty.nix
Due: nix-fmt

programs/kitty: init module
  modules/collection/programs/kitty.nix
Due: nix-fmt

programs/direnv: init module
  modules/collection/programs/direnv.nix
Due: nix-fmt

programs/direnv: add tests
  modules/tests/programs/direnv/direnv.nix
  modules/tests/programs/direnv/expected_config
Due: nix-fmt

deploy: 8ed71403a7a11fe17ba3833dea5d871df3c80f9d
  assets/search-data.json
  index.html
  options.html
Due: none

programs/direnv: fix bad examples
  modules/collection/programs/direnv.nix
Due: nix-fmt

deploy: 34a29ebdb6e4db1f771918e6692e092b8181834d
  index.html
  options.html
Due: none

deploy: c57f2b1f3a3891d5410f9637a087455d5067ca6a
  assets/search-data.json
  index.html
  options.html
Due: none

deploy: 829c5a820ab6645b5fe6ffa0ba4ac4fa3f2c38f3
  assets/search-data.json
  index.html
  options.html
Due: none

meta/pr_template: convert checklist to proper markdown
  .github/pull_request_template.md
Due: mdformat

programs/nushell: init nushell
  README.md
  modules/collection/environment/warning.nix
  modules/collection/programs/nushell.nix
  modules/collection/programs/starship.nix
  modules/tests/programs/nushell.nix
Due: nix-fmt, mdformat

modules: init nullable packages
  modules/collection/programs/alacritty.nix
  modules/collection/programs/beets.nix
  modules/collection/programs/bottom.nix
  modules/collection/programs/direnv.nix
  modules/collection/programs/fish.nix
  modules/collection/programs/flameshot.nix
  modules/collection/programs/foot.nix
  modules/collection/programs/fuzzel.nix
  modules/collection/programs/fzf.nix
  modules/collection/programs/gammastep.nix
  modules/collection/programs/ghostty.nix
  modules/collection/programs/git.nix
  modules/collection/programs/helix.nix
  modules/collection/programs/hypridle.nix
  modules/collection/programs/hyprlock.nix
  modules/collection/programs/keepassxc.nix
  modules/collection/programs/kitty.nix
  modules/collection/programs/lsd.nix
  modules/collection/programs/ncmpcpp.nix
  modules/collection/programs/obs-studio.nix
  modules/collection/programs/spotify-player.nix
  modules/collection/programs/starship.nix
  modules/collection/programs/tealdeer.nix
  modules/collection/programs/tofi.nix
  modules/collection/programs/vscode.nix
  modules/collection/programs/zoxide.nix
  modules/collection/programs/zsh.nix
Due: nix-fmt

deploy: bc13b9cf974d2fe1e5dc54c54b4ae3dfaae58c95
  index.html
  options.html
Due: none

programs/fish: add aliases option
  modules/collection/programs/fish.nix
  modules/tests/programs/fish.nix
Due: nix-fmt

Path conditions:
  nix-fmt: any of: .+\.nix$
  mdformat: any of: .+\.md$
